
@{
    ViewBag.Title = "InternalError";
}

<h2 class="font-weight-light">500 - Internal Error</h2>

@Html.ActionLink("Back to main page", "ActiveLots", "Lots", null, htmlAttributes: new { @class = "" })
