html {
    overflow-x: hidden;
    height: 100%;
}

body {
    padding-top: 100px;
    overflow-x: hidden;
    height: 100%;
}

body > div.container {
    position: relative;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: calc(100% - 150px);
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

#search {
    display: none;
}

#searchForm {
    display: block;
}

@media screen and (max-width: 992px) {
    body {
        padding-top: 70px;
    }

    #search {
        display: inline-block;
    }

    #searchForm {
        display: none;
    }
}