html {
    overflow-x: hidden;
}

body {
    padding-top: 100px;
    overflow-x: hidden;
}

#search {
    display: none;
}

#searchForm {
    display: block;
}

@media screen and (max-width: 992px) {
    body {
        padding-top: 70px;
    }

    #search {
        display: inline-block;
    }

    #searchForm {
        display: none;
    }
}